<main>
  <div>
    <video src="https://s3.amazonaws.com/staywoke/mexicans-edited.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/muslims-edited.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/disabled-edited.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/women-edited.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/pussy-edited.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/abortion.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/press.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/protestor.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>

  <div>
    <video src="https://s3.amazonaws.com/staywoke/mccain-edited.mp4" width="100%" onmouseover="playVideo(this)" onmouseleave="playVideo(this)" loop autoplay muted>
  </div>
</main>