<div class="container">
  <div class="video" onmouseover="player1.unMute();" onmouseout="player1.mute();">
    <iframe id='player1' src="https://www.youtube.com/embed/uo-7ISmwAi0?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=uo-7ISmwAi0&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player2.unMute();" onmouseout="player2.mute();">
    <iframe id='player2' src="https://www.youtube.com/embed/UNugcPeCZZE?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=UNugcPeCZZE&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player3.unMute();" onmouseout="player3.mute();">
    <iframe id='player3' src="https://www.youtube.com/embed/p1ozGvuwDks?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=p1ozGvuwDks&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player4.unMute();" onmouseout="player4.mute();">
    <iframe id='player4' src="https://www.youtube.com/embed/K9PCPtcsgnc?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=K9PCPtcsgnc&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player5.unMute();" onmouseout="player5.mute();">
    <iframe id='player5' src="https://www.youtube.com/embed/6n-SgCndBWE?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=6n-SgCndBWE&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player6.unMute();" onmouseout="player6.mute();">
    <iframe id='player6' src="https://www.youtube.com/embed/WumFK-f9xhY?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=WumFK-f9xhY&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player7.unMute();" onmouseout="player7.mute();">
    <iframe id='player7' src="https://www.youtube.com/embed/nud6saXnlZA?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=nud6saXnlZA&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player8.unMute();;" onmouseout="player8.mute();">
    <iframe id='player8' src="https://www.youtube.com/embed/NaDE-YqT09E?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=NaDE-YqT09E&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

  <div class="video" onmouseover="player9.unMute();;" onmouseout="player9.mute();">
    <iframe id='player9' src="https://www.youtube.com/embed/CMg407gaFro?controls=0&showinfo=0&rel=0&disablekb=1&loop=1&playlist=CMg407gaFro&enablejsapi=1&version=3" frameborder="0" allowfullscreen"></iframe>
  </div>

</div>