<div class="row">
  <div class="video">VIDEO</div>
  <div class="video">VIDEO</div>
  <div class="video">VIDEO</div>
</div>

<div class="row">
  <div class="video">VIDEO</div>
  <div class="video">VIDEO</div>
  <div class="video">VIDEO</div>
</div>

<div class="row">
  <div class="video">VIDEO</div>
  <div class="video">VIDEO</div>
  <div class="video">VIDEO</div>
</div>